<style></style>


<div class="b-data__bg" style="background-image: url('https://interaktivni.rozhlas.cz/data/volby-17-sousede/media/mapa-detail.png');"><span class="b-data__caption">Foto <a href='https://www.lidovky.cz/komu-dali-hlas-vasi-sousede-prozkoumejte-mapu-s-nejpodrobnejsimi-volebnimi-daty-g1d-/zpravy-domov.aspx?c=A171020_215444_ln_domov_pev'>Lidovky.cz</a></span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Jakou barvu má váš okrsek? Prohlédněte si nejpodrobnější volební mapu</strong>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Petr Kočí</a>
	<span class="meta__separator">|</span>
	<time>22. října 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">

<div class="row-main row-main--narrow">

<p class="text-bold text-lg">Komu sebrali voliče Piráti? Kam se ztratili voliči ČSSD? A jak by dopadli Starostové, kdyby neutekli z koalice s lidovci?</p>

<p>Odpovědi hledáme nad interaktivní mapou okrskových volebních výsledků, kterou <a href="https://www.lidovky.cz/komu-dali-hlas-vasi-sousede-prozkoumejte-mapu-s-nejpodrobnejsimi-volebnimi-daty-g1d-/zpravy-domov.aspx?c=A171020_215444_ln_domov_pev">připravil server Lidovky.cz</a>. O komentář k územnímu rozložení podpory pro všechny strany, jež se dostaly do Parlamentu, jsme požádali dva sociology, kteří se geografii výsledků parlamentních voleb věnují v <a href="http://www.soc.cas.cz/oddeleni/lokalni-regionalni-studia">Sociologickém ústavu Akademie věd ČR</a>.  </p>
<p>Zeměpisné trendy v chování českých voličů jsou podle nich dlouhodobě stabilní. "Území, kde jsou nadreprezentovány určité typy voličů, se dramaticky nemění. Mění se však to, kterou stranu si tyto typy voličů zvolí. Například ANO místo ČSSD, Piráty místo TOP09, SPD místo Věcí veřejných a republikánů...," říká sociální geograf Martin Šimon. "V podstatě je to posun od 'pravice a levice' k 'populistům a rasistům'."</p>
<p></div><div class="row-main row-main--article">
<iframe src="https://1gr.cz/o/lidovky/volby17/sousede/index.html" style="width: 100%; height: 70vh; border: none; margin-top:35px"></iframe>
</header> 
<div align="right" style="padding: 5px"><i>Interaktivní mapa: Marcel Šulek, <a href="http://lidovky.cz">Lidovky.cz</a></i></div>
</div><div class="row-main row-main--narrow"></p>
<p>V interaktivní mapě můžete najetím myši zobrazit výsledky z každého okrsku. Přepínačem vlevo nahoře si pak můžete vybrat, jak se mapa vybarví: zda podle vítězné strany v každém okrsku, nebo jestli ukáže rozložení podpory pro vybranou partaj po celé republice.</p>
<p>Jednou z možností je také zobrazení volební účasti. Ta podle sociologa Josefa Bernarda vypadá podobně jako ve většině minulých voleb: "Projevuje se menší účast v pohraničí, v Karlovarském, Ústeckém, Plzeňském či Severomoravském kraji. Zjednodušeně můžeme říci, že jde o <a href="https://interaktivni.rozhlas.cz/sudety/">bývalé Sudety</a>. Je ovšem sporné, do jaké míry jde o přímou souvislost s výměnou obyvatelstva po druhé světové válce. Může to souviset také s tím, že to je území s dlouhodobou nezaměstnaností.""</p>
<h2>ANO: nevyhraněná tsunami</h2>
<p><img src="https://interaktivni.rozhlas.cz/data/volby-17-sousede/media/ano.png" width="100%"></img></p>
<p>Hnutí Andreje Babiše zvítězilo nejen ve všech krajích, ale i ve všech okresech. Liší se jen velikost náskoku před soupeři. "Hlavní novinkou na letošní mapě je volební tsunami ANO. Jeho podpora je geograficky rozložená velmi rovnoměrně, snad jen s rozdílem menší podpory v Praze a okolí," říká Josef Bernard, vedoucí lokálních a regionálních studií Sociologického ústavu Akademie věd ČR.</p>
<p>"ANO má relativně rovnoměrné prostorové rozložení voličů. To je charakteristika 'nové' a populistické strany, která nemá stabilní voličské jádro," doplňuje ho jeho kolega Martin Šimon. "ANO je populistická strana typu 'catch-all' (všeuchopující, univerzální strana), proto je její volební výsledek prostorově plochý. Regionální rozdíly jsou vysvětlitelné spíše silnou přítomností jiných stran v regionech. Zjednodušeně lze říct, že nevyhraněná strana má nevyhraněný prostorový vzorec."</p>
<p>Praha a její okolí má pestřejší volební výsledek, což je podle Martina Šimona trend typický pro většinu evropských metropolí. "Hlavní město jakožto centrum státu s větší diverzitou a koncentrací funkcí má i diverzifikovanější elektorát."</p>
<h2>ODS: města a rekreační oblasti</h2>
<p><img src="https://interaktivni.rozhlas.cz/data/volby-17-sousede/media/ods.png" width="100%"></img></p>
<p>Druhá nejsilnější Občanská demokratická strana bodovala v okolí velkých měst. "Mapa ukazuje tradiční obrázek: silnou podporu mívá ODS a další strany, které řadíme do kategorie fiskálně konzervativních, v širokém okolí Prahy, Brna, Liberce, Plzně či Českých Budějovic," říká sociolog Bernard.</p>
<p>Zvláštností ODS je podle něj úspěch v rekreačních oblastech, hlavně na Šumavě a v Krkonoších. Vysvětlení je dvojí: nízká hustota zalidnění a z ní vyplývající vyšší podíl podnikatelů, kteří v těchto oblastech provozují hotely a restaurace – a také Pražané, kteří do pohraničních hor odjíždějí o volebním víkendu za odpočinkem a hlasují tam s voličským průkazem.</p>
<h2>Piráti: od Náchoda po Domažlice</h2>
<p><img src="https://interaktivni.rozhlas.cz/data/volby-17-sousede/media/pirati.png" width="100%"></img></p>
<p>Piráti letos poprvé zabodovali nejen ve městech, ale i ve venkovských regionech. "Mají prostorový vzorec podobný ODS a TOP 09 z minulých let: šikmý pás přes Čechy od Náchoda po Domažlice," všímá si Martin Šimon. "Toto území je v posledních letech ekonomicky úspěšné. Piráti proto získávají tradiční voliče ODS, kteří v minulých volbách zkusili TOP 09 se Starosty. Jedná se o spíše liberální voliče cílící na transparentnost. Piráti dosáhli zisku na venkově i ve městech, tím se liší od TOP 09 či Zelených."</p>
<p>Také Josef Bernard si všímá zvýšené podpory pro Piráty v Libereckém kraji či ve východních Čechách: "To jsou oblasti, které vždy volily pravicověji - v nich si teď Piráti velmi silně si konkurují s TOP 09 a ve východních Čechách s KDU-ČSL."</p>
<h2>SPD: Morava a severozápadní pohraničí</h2>
<p><img src="https://interaktivni.rozhlas.cz/data/volby-17-sousede/media/spd.png" width="100%"></img></p>
<p>U SPD je jasně vidět dominance na Moravě a v severozápadním pohraničí. "To trochu kopíruje podporu ČSSD, jak jsme na ni byli zvyklí v předchozích volbách. Je na místě hypotéza, že SPD sociální demokracii sebrala velkou část elektorátu," říká Josef Bernard. "Čekal jsem, že výsledek SPD bude víc kopírovat historické výsledky pravicových extremistů, například DSSS, ale SPD se podařilo oslovit mnohem širší část voličstva."</p>
<p>"SPD – podobně jako v minulých volbách – mělo víc voličů v oblastech, kde jsou podle předloňské Gabalovy zprávy četnější sociálně vyloučené lokality. To znamená, že k volbě SPD motivují spíše místní sociální problémy než xenofobní mediální diskurz o uprchlících, kteří v Česku de facto žádní nejsou. V Čechách územní podpora SPD reflektuje periferní oblasti, kde jsou problémy se sociálním vyloučením a nezaměstnaností. SPD není silná v tradičních periferiích, kde jsou jiné typy problémů a lidé volí spíše KSČM," doplňuje svého kolegu Martin Šimon.</p>
<p>SPD mělo nejvyšší zisky na počátku sčítání hlasů, tedy v nejmenších obcích a na venkově obecně. "Argumenty přímé demokracie či xenofobní politiky rezonují tedy spíše mezi venkovskou populací než ve městech," říká Šimon.</p>
<h2>KSČM: tradiční bašty</h2>
<p><img src="https://interaktivni.rozhlas.cz/data/volby-17-sousede/media/kscm.png" width="100%"></img></p>
<p>Komunisté od minulých voleb ztratili 350 tisíc hlasů, přesto zůstali silní ve svých tradičních baštách, jako je Bruntálsko či Jesenicko. "Obecně jde o oblasti s vyšší nezaměstnaností na chudším periferním venkově," říká Josef Bernard. Historické volební mapy ukazují v těchto oblastech komunistickou tradici sahající až do první republiky.</p>
<h2>ČSSD: staré jistoty už neplatí</h2>
<p><img src="https://interaktivni.rozhlas.cz/data/volby-17-sousede/media/cssd.png" width="100%"></img></p>
<p>Sociální demokraté dosáhli nejhoršího výsledku od vzniku České republiky. Od posledních voleb ztratili přes 600 tisíc voličů. "ČSSD byla vždy v novodobých volbách strana s relativně nestabilní členskou základnou a proměnlivým prostorovým vzorcem," říká Martin Šimon. "Podle mého názoru globální pokles její podpory – převážně na úkor ANO – nemá výrazná prostorová specifika. ČSSD se na jednu stranu neprosadila v ekonomicky úspěšných regionech vůči pravicovým stranám, na druhou stranu ztratila v ekonomicky slabších regionech vůči xenofobním stranám."</p>
<p>V předchozích volbách komentátoři často mluvili o "oranžové Moravě", tato sociálnědemokratická jistota ale v letošních volbách padla. "V těchto volbách je Morava odlišná od Čech v daleko silnější podpoře SPD. To asi reflektuje horší ekonomický vývoj Moravy vůči Čechám. Voliči tak 'trestají' vládnoucí ČSSD za uplynulé období," domnívá se Šimon. Při sčítání hlasů podle okrsků nijak nerostl podíl ČSSD v čase, což naznačuje, že ČSSD ztratila pozice také ve větších městech.</p>
<h2>KDU-ČSL: fascinující stabilita</h2>
<p><img src="https://interaktivni.rozhlas.cz/data/volby-17-sousede/media/kdu.png" width="100%"></img></p>
<p>Křesťanští demokraté se mohli i letos spolehnout na regiony s vysokým podílem věřících. "Lidovci jsou stranou s nejjasněji rozdělenou podporou, která silně souvisí s religiozitou," říká Josef Bernard.</p>
<p>"Územní rozložení volební podpory KDU-ČSL je fascinující, protože je stabilní již od první republiky. Nově si udržují zisky nad 5 procent i v Praze," doplňuje Martin Šimon. Souvisí to podle něj s migrací mladých lidí z venkova do hlavního města.</p>
<h2>TOP 09: pražská strana</h2>
<p><img src="https://interaktivni.rozhlas.cz/data/volby-17-sousede/media/top09.png" width="100%"></img></p>
<p>TOP 09 je podle sociologů nejvíce městská ze všech stran – proto také průběžné výsledky sčítání až do poslední chvíle naznačovaly, že se do sněmovny nedostane. "Zachránily" ji až později sečtené hlasy z lidnatých pražských a středočeských okrsků.</p>
<p>Podle Josefa Bernarda je podpora TOP 09 úzce spojená se socioekonomickou úrovní a také s koncentrací městských, liberálních a proevropsky zaměřených voličů: "Tím lze vysvětlit její velmi vysokou podporu v Praze a v pražském zázemí." V dalších oblastech ji o voliče připravili zejména Piráti a STAN, kteří v minulých volbách kandidovali společně s TOP 09.</p>
<h2>Starostové: síla osobností</h2>
<p><img src="https://interaktivni.rozhlas.cz/data/volby-17-sousede/media/stan.png" width="100%"></img></p>
<p>Podpora starostů úzce souvisí s popularitou a úspěchy jejích regionálních osobností, jako je starosta Kolína Vít Rakušan nebo Jan Farský, který zahájil politickou kariéru jako starosta v Semilech.</p>
<p>"Oproti minulým volbám, kde samostatně nekandidovali, je volební výsledek STAN novým prvkem: zcela jasně reflektuje sílu jejich lídrů na Semilsku, Kolínsku či Liberecku. U ostatních stran role osobností nejsou tak prostorově výrazné," říká Martin Šimon.</p>
<p>"Výsledek potvrzuje, že úvaha o předvolební koalici s KDU-ČSL byla na místě: starostové jsou silní tam, kde jsou lidovci slabí, a naopak. Kdyby vydrželi, nejen že by překonali hranici deseti procent pro vstup koalice do sněmovny, ale zároveň by byli silní ve velké části republiky, což o žádné z těchto stran samostatně neplatí," říká Josef Bernard.</p>

<p class="meta meta--right meta--big">
<strong><a href="#" class="meta__link">Petr Kočí</a></strong>
</p>
</div>
<!--[[ZPRAVY_SNOWFALL_RELATED:ARTICLES]]-->
</div><script></script>
